/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.caps {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

/* mobile menu */

.home-content {
  margin-top: 193px;
  text-align: center;
  margin-bottom: auto;
}

.home-content .mission {
  line-height: 27.2px;
  letter-spacing: .04rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 242px;
  border-top: 1px solid #a1a1a1;
  background-color: #fff;
  font-weight: 500;
  margin-top: -102px;
}

.mission h1 {
  font-size: 1.5rem;
  margin-bottom: 13px;
  letter-spacing: .01em;
  font-weight: 400;
}

.mission p {
  width: 315px;
  font-size: .875rem;
  text-align: left;
}

.hero-image img {
  max-width: 100%;
  display: block;
  height: auto;
}

 figure {
  position: relative;
}

.subtext figcaption {
  padding: 14px 0;
}

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;
}

.card-img {
  visibility: hidden;
  width: 100%;
  height: 200px;
  background-image:url('https://source.unsplash.com/Qm_n6aoYzDs');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-img-hovered {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 200px;
  top: 0;
}

.card-img-hovered:hover {
     background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
      );
      height: 100%;
    
}

.card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;
}

.card-info:hover {
  background-color: transparent;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
  0px 5px 15px rgba(0, 0, 0, 0.07);
  transform: scale(1.025);
}

.card-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  transition: all 200ms ease-in-out;
}

.card-about:hover, .card-creator:hover {
  opacity: 0;
}


.card-tag {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}

.tag-news {
  background: #36b37e;
}

.card-title {
  z-index: 10;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  transition: all 350ms ease-in-out;
}

.card-title:hover {
  color: #ebecf0;
  transform: translate(0,40px);
}

.card-creator {
  padding-bottom: 0.75rem;
  transition: all 250ms ease-in-out;
}


.card-img, .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://source.unsplash.com/Qm_n6aoYzDs);
}


nav {
  height: 70px;
}

.definition {
  background: #fff;
  padding: 0 0 4px 10px;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .09rem;
}

.definition span {
  letter-spacing: .037rem;
}

a {
  text-decoration: none;
  color: #000;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  outline: 1px solid red;
}

.bar1, .bar2, .bar3 {
  width: 21px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8.5px) rotate(45deg);
}

.logo {
  padding: 4.5px 10px 4.5px 91px;
  transition: background 0.3s;
}

/* psudo-element to make the flag clickable */

.logo a::before {
  content: '';
  top: 7px;
  left: -81px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 87px;
  height: 52px;
  z-index: 1;
}

/* nav progress bar */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  height: 91px;
}

.progress-container {
  width: 100%;
  height: 4px;
  position: relative;
  z-index: 1;
}

.progress-bar {
  height: 4px;
  background: #1493f3;
  width: 0;
}


/* sticky header styles */

.header.is-sticky {
  position: fixed;
  padding: 0;
  animation: slideDown 0.35s ease-out;
  height: 65px;
}

.header.is-sticky .definition {
  padding-top: 0;
  padding-bottom: 0;
}

.header.is-sticky .definition p {
 position: relative;
 top: -5px;
 font-size: 0.8125rem;
}

.header.header.is-sticky .logo {
  padding-left: 72px;
}

.header.header.is-sticky .item {
  top: 16px;
}

.header.header.is-sticky .logo a {
  font-size: 1.125rem;
  padding-top: 6.5px;
  position: relative;
  top: -3px;
}

.header.header.is-sticky .menu li.logo a:focus::after {
  left: -66px;
  height: 45px;
  width: 150px;
}

.header.header.is-sticky .flag {
  width: 58px;
  height: 37px
}

.header.header.is-sticky .panama-star {
  width: 13px;
}

.header.header.header.is-sticky nav {
  height: 58px;
}

.header.header.is-sticky .menu li:not(.logo, .toggle) a {
  font-size: .875rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.flag {
  position: absolute;
  width: 79px;
  height: 52px;
  overflow: hidden;
  top: 10px;
  left: 10px;
  border: .15rem solid #000;
  transition: background 0.3s;
}

.panama {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panama > div {
  display: grid;
  place-items: center;
}

.panama-star {
  width: 19px;
  aspect-ratio: 1;
  background-color: #fff;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.red, .red-field {
  background-color: #a91319;
}

.blue, .blue-field {
  background-color: #011e56;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

/* pseudo-element for logo to focus over flag */
.menu li.logo a:focus::after {
  content: '';
  position: absolute;
  top: 4px;
  left: -84px;
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  height: 60px;
  width: 193px;
}

.sidenav {
  height: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 0;
  z-index: 1;
  top: 91px;
  left: 0;
  background-color:  #132257;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav  li {
  list-style-type: none;
  width: 100%;
}

.sidenav a {
  padding: 11px;
  text-decoration: none;
  font-size: .875rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: .03rem;
  display: block;
  width: 100%;
  transition: 0.3s;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #a1a1a1;
  visibility: hidden;
}


.sidenav.active {
  display: flex;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  width: 189px;
}

.sidenav.active a {
  visibility: visible;
}

.sidenav.active li a:focus { 
  outline: none;
}

.sidenav.active li a:focus::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;;
  right: 0;  
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  height: 22px;
  width: 74px;
  margin: auto;
}

.menu li.logo a:focus { 
  outline: 5px auto transparent;
}

 .menu li.toggle div.toggle-anchor:focus::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 4px;  
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  height: 33px;
  width: 33px;
  z-index: -1;
}

.header.is-sticky .menu li.toggle div.toggle-anchor:focus::after {
  top: 13px;
}

.header.header.is-sticky .sidenav {
  top: 74px;
}

.header.header.is-sticky .definition {
  border-bottom: 1px solid #a1a1a1;
}

.menu li.toggle div:focus { 
  outline: 5px auto transparent;
}

.menu li a {
  display: block;
  padding: 5px 5px;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: .0rem;
  transition: 0.3s;
  font-size: 1rem;
}

.menu li.logo a {
  font-weight: 900;
  font-size: 1.5rem;
  position: relative;
  top: -2px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  font-size: 1.25rem;
  margin-right: 0;
  margin-left: auto;
}

.item {
  width: 100%;
  display: none;
}

.line-divider {
  position: relative;
  margin: 0;
}

.line-divider.wide:before {
  content: " ";
  height: 1px;
  width: 80%;
  left: 10%;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  background-color: #a1a1a1;
}

.diamond-text-box {
  position: relative;
  display: inline-block;
}

.diamond-text-box .left:before, .diamond-text-box .left::after {
  content: " ";
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #888;
  border-width: 17px;
  margin-top: -17px;
  right: 100%;
}

.diamond-text-box .left::after {
  border-right-color: #FFF;
  border-width: 16px;
  margin-top: -16px;
}

.diamond-text-box .right:before, .diamond-text-box .right::after {
  content: " ";
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #888;
  border-width: 17px;
  margin-top: -17px;
  left: 100%;
}

.diamond-text-box .right::after {
  border-left-color: #fff;
  border-width: 16px;
  margin-top: -16px;
}

.diamond-text-box .content {
  display: inline-block;
  border: 1px solid #b0b0b0;
  border-left: none;
  border-right: none;
  background: #fff;
  color: #888;
  height: 34px;
  line-height: 34px;
  font-weight: 400;
  margin-top: 1px;
  font-size: 1.3125rem;
}

.featured-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 10px; 
}

.feature-photo-container {
  flex: 1 0 70%;
}

.featured-content-container img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  display: block;
}

.feature-anchor .feature-wrapper{
  transition: 1s ease;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  }
  
.feature-anchor:hover .feature-wrapper {
  border: 2px solid #1493f3;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
 }


.featured-content-container h3 {
  font-size: 1.25rem;
}

.featured-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 25px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  background-color: #fff;
}

.footer .icons {
  padding-top: 45px
}

.footer hr {
  color: #a1a1a1;
  width: 80%;
  align-self: center;
}

.icons, .footer .copyright, .footer .credits {
  padding-bottom: 45px;
}

.icons a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #000;
}

/* small resolution media queries */

@media all and (max-width: 336px) {
  .home-content .mission {
    height: 167px;
    line-height: 18.2px;
  }

  .mission p {
    width: 250px;
    font-size: .813rem;
    padding: 0 12px;
  }
}

@media all and (max-width: 285px) {

  .header, .header.header.is-sticky {
      height: 69px;
    }

  .definition, .header.is-sticky .definition {
      font-size: .72rem;
      position: relative;
      top: -23px;
      background: none;
      padding-right: 25px;
      padding-left: 6px;
  }

  .header.is-sticky .definition {
    padding-top: 18px;
  }

  .toggle, .header.header.is-sticky .toggle {
    margin-top: -9px;
    margin-right: 1px;
  }

  .progress-container, .header.header.is-sticky .progress-container {
    position: relative;
    top: -13px;
    height: 2px;
  }

  .header.is-sticky .definition p, .definition p {
    position: relative;
    top: -3px;
    white-space: nowrap;
}

.definition p {
  top: 5px;
}

  .header.header.is-sticky .progress-container {
    top: -23px;
  }

  .progress-bar, .header.header.is-sticky .progress-bar {
    height: 2px;
  }

  .flag, .header.header.is-sticky .flag {
    width: 50px;
    height: 36px;
    left: 6px;
  }

  .panama-star, .header.header.is-sticky .panama-star {
    width: 13px;
  }

  .logo, .header.header.is-sticky .logo {
    padding-left: 56px;
  }

 .menu li.logo a,  .header.header.is-sticky .logo  a {
    font-size: 1rem;
  }

  .menu li.logo a:focus::after {
    left: -54px;
    height: 43px;
    width: 130px;
  }

  .menu li.toggle div.toggle-anchor:focus::after {
    top: 6px;
    right: 7px;
    height: 31px;
    width: 30px;
  }

  .header.is-sticky .menu li.toggle div.toggle-anchor:focus::after {
    top: 7px;
  }

  .home-content {
    margin-top: 177px;
  }

.sidenav.active {
  top: 75px;
  width: 115px;
}

.header.header.is-sticky .sidenav {
  top: 69px;
}

.diamond-text-box .content {
  font-size: .75rem;
  white-space: nowrap;
}

}

@media all and (max-width: 257px) {
  

  .definition span {
    white-space: nowrap;
  }

  .menu li.toggle div.toggle-anchor:focus::after,  .header.is-sticky .menu li.toggle div.toggle-anchor:focus::after  {
    top: 8px;
    height: 29px;
    width: 31px;
  }

  .menu li.toggle div.toggle-anchor:focus::after {
    right: 6px;
    top: 7px;
  }

}

@media all and (max-width: 195px) {

  .definition {
    display: none;
  }

  .header.is-sticky .menu li.toggle div.toggle-anchor:focus::after, .menu li.toggle div.toggle-anchor:focus::after {
    top: 7px;
    right: 6px;
 }

 .menu li.toggle div:focus::after {
  top: 8px;
 }

 .home-content {
  margin-top: 187px;
 }

 .sidenav.active {
  top: 85px;
 }
 
 .progress-container {
  top: 15px;
 }

 .header.header.is-sticky .progress-container {
  top: 11px;
}

.header {
  height: 85px;
}

}

@media all and (max-width: 185px) {

  .header.is-sticky .menu li.toggle div.toggle-anchor:focus::after {
    top: 10px;
    right: 5px;
  }

  .menu li.toggle div.toggle-anchor:focus::after {
    top: 11px;
    right: 5px;
  }

  .toggle-anchor {
    position: relative;
    top: -12px;
  }

  .header.is-sticky .toggle-anchor {
    top: -1px;
  }
}

/* Tablet menu */
@media all and (min-width: 700px) {

  .line-divider {
    margin: 35px 0 35px;

  }

    .menu {
        justify-content: center;
    }

    .logo {
        margin-right: auto;
    }

    .mission p {
      width: 488px;
      font-size: 1rem;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {

/* .feature-anchor .feature-wrapper {
  flex-direction: row;
} */

.featured-content-container {
  width: 60%;
  margin: auto;
}

.menu {
  align-items: flex-start;
  flex-wrap: nowrap;
  background: none;
}
 
.item {
  position: relative;
  display: block;
  width: auto;
  top: 27px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.item:after {
      content: " ";
      position: absolute;
      width: 78%;
      height: 3px;
      bottom: 9px;
      left: 12px;
      background-color: #1493f3;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.3s;
  }

  .item:hover:after {
          transform-origin: bottom left;
          transform: scaleX(1);
      }
    
  .toggle {
    display: none;
  }

  .sidenav.active {
    display: none;
  }

}
























