/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #1e252c;
}

.content {
  height: 100vh;
  margin-top: 193px;
  text-align: center;
}

.content .mission {
  position: relative;
  top: 94px;
  background-color: #132257;
  color: #FFFFFF;
  padding: 28px 0 30px;
}

nav {
  height: 70px;
}

.definition {
  background: #FFFFFF;
  padding: 4px 0 4px 10px;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .09rem;
  border-top: 2px solid #1e252c;
  border-bottom: 2px solid #1e252c;
}

.definition span {
  letter-spacing: .037rem;
}

a {
  text-decoration: none;
  color: #1e252c;
}

.menu {   
  list-style-type: none;
}

.logo {
  font-size: 1.375rem;
  padding: 4.5px 10px 4.5px 91px;
  transition: background 0.3s;
}

/* psudo-element to make the flag clickable */

.logo a::before {
  content: '';
  top: 10px;
  left: 10px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 79px;
  height: 52px;
  z-index: 1;
}

.item {
  padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* nav progress bar */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
  height: 91px;
}

.progress-container {
  width: 100%;
  height: 4px;
}

.progress-bar {
  height: 4px;
  background: #1493f3;
  width: 0;
}


/* sticky header styles */

.header.is-sticky {
  position: fixed;
  padding: 0;
  /* backdrop-filter: blur(5px); */
  animation: slideDown 0.35s ease-out;
  height: 83px;
}

.header.header.is-sticky .logo {
  font-size: 1.125rem;
  padding-top: 6.5px;
  padding-left: 85px;
}

.header.header.is-sticky .flag {
  width: 74px;
  height: 47px
}

.header.header.is-sticky .panama-star {
  width: 16px;
}

.header.header.header.is-sticky nav {
  height: 65px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* mobile menu */

.flag {
  position: absolute;
  width: 79px;
  height: 52px;
  overflow: hidden;
  top: 10px;
  left: 10px;
  border: .15rem solid #1e252c;
  transition: background 0.3s;
}

.panama {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panama > div {
  display: grid;
  place-items: center;
}

.panama-star {
  width: 19px;
  aspect-ratio: 1;
  /* background-color: white; */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.red, .red-field {
  background-color: #a91319;
}

.blue, .blue-field {
  background-color: #011e56;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* pseudo-element for logo to focus over flag */
.menu li.logo a:focus::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;  
  outline: 5px auto -webkit-focus-ring-color;
  height: 65px;
  width: 195px;
}

.menu li.logo a:focus { 
  outline: 5px auto transparent;
}

.menu.active li.toggle a:focus::after, .menu li.toggle a:focus::after {
  content: '';
  position: absolute;
  top: 19px;
  right: 4px;  
  outline: 5px auto -webkit-focus-ring-color;
  height: 30px;
  width: 30px;
}

.menu li.toggle a:focus { 
  outline: 5px auto transparent;
}

.menu.active + .menuBg {
  content: '';
  display: block;
  height: 190px;
  position: absolute;
  top: 94px;
  left: 0;
  bottom: 0;
  right: 0;
  background: aliceblue;
  z-index: -1;
  border-top: 1px solid #FFFFFF;
}

.menu.active .item a {
  font-size: .875rem;
  text-transform: capitalize;
  letter-spacing: .03rem;
}

.header.is-sticky .menu.active + .menuBg {
  top: 89px;
  height: 189px;
}

.menu li a {
  display: block;
  padding: 5px 5px;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: .0rem;
  text-transform: uppercase;
}

.menu li.logo a {
  font-weight: 700;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  font-size: 1.25rem;
  margin-right: 6px;
  margin-left: auto;
}

.menu .toggle a {
  display: inline-block;
}

.item {
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
  position: relative;
  top: 21px;
  border-bottom: 1px solid #1c4161;
}

@media all and (max-width: 285px) {

  .header, .header.header.is-sticky {
      height: 83px;
    }

  .definition, .header.is-sticky .definition {
      font-size: .75rem;
      position: relative;
      top: -23px;
      background: none;
      border-bottom: 2px solid #132257;
      padding-right: 25px;
      padding-left: 6px;
  }

  .header.is-sticky .definition {
    padding-top: 8px;
  }

  .toggle, .header.header.is-sticky .toggle {
    margin-top: -9px;
    margin-right: 1px;
  }

  .progress-container, .header.header.is-sticky .progress-container {
    position: relative;
    top: -23px;
    height: 2px;
  }

  .progress-bar, .header.header.is-sticky .progress-bar {
    height: 2px;
  }

  .flag, .header.header.is-sticky .flag {
    width: 50px;
    height: 36px;
    left: 6px;
  }

  .panama-star, .header.header.is-sticky .panama-star {
    width: 13px;
  }

  .logo, .header.header.is-sticky .logo {
    font-size: 1rem;
    padding-left: 56px;
  }

  .content {
    margin-top: 91px;
  }

  .header.is-sticky .menu.active + .menuBg {
    top: 70px;
  }

  .menu.active + .menuBg {
    top: 71px;
  }

}

@media all and (max-width: 257px) {
    .menu.active + .menuBg {
      top: 85px;
    }

    .header.header.is-sticky .menu.active + .menuBg {
      top: 84px;
    }

    .definition span {
      white-space: nowrap;
    }

    .toggle, .header.header.is-sticky .toggle {
      margin-top: -15px
  }

    .menu.active li.toggle a:focus::after, .menu li.toggle a:focus::after {
     top: 6px;
     right: 1px;
  }

}

/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        margin-right: auto;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
 
  .item {
    position: relative;
    display: block;
    width: auto;
    top: 12px;
  }

  .active .item {
    top: 12px;
    border-bottom: none;
  }

  .menu.active + .menuBg {
    display: none;
  }
  
  .toggle {
    display: none;
  }

}





















