/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #1e252c;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.caps {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

.content {
  margin-top: 193px;
  text-align: center;
  margin-bottom: auto;
}

.content .mission {
  color: #000;
  line-height: 27.2px;
  letter-spacing: .04rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 242px;
  border-top: 1px solid #a1a1a1;
  background-color: #f5f5f5;
  font-weight: 500;
  margin-top: -102px;
}

/* .hero-image {
  height: 500px;
}

.hero-image {
  background: url('./images/panama-sign.JPG') no-repeat 31% top;
  background-size: cover;
} */

.mission p {
  width: 315px;
  font-size: .875rem;
  text-align: left;
}

.hero-image img {
  max-width: 100%;
  display: block;
  height: auto;
}

.subtext figure {
  position: relative;
}

.subtext figcaption {
  padding: 14px 0;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  margin: auto;
  width: 98%;
  gap: 30px;
  padding: 0 15px;
}

.image-credit {
  transform: rotate(-0.25turn);
  position: absolute;
  bottom: 32px;
  left: -63px;
}

.articles .subtext {
  flex: 1 0 25%;
  text-align: left;
}

.subtext img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

nav {
  height: 70px;
}

.definition {
  background: #FFFFFF;
  padding: 0 0 4px 10px;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .09rem;
}

.definition span {
  letter-spacing: .037rem;
}

a {
  text-decoration: none;
  color: #1e252c;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.bar1, .bar2, .bar3 {
  width: 21px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8.5px) rotate(45deg);
}

.logo {
  padding: 4.5px 10px 4.5px 91px;
  transition: background 0.3s;
}

/* psudo-element to make the flag clickable */

.logo a::before {
  content: '';
  top: 7px;
  left: -81px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 87px;
  height: 52px;
  z-index: 1;
}

/* nav progress bar */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
  height: 91px;
}

.progress-container {
  width: 100%;
  height: 4px;
  position: relative;
  z-index: 1;
}

.progress-bar {
  height: 4px;
  background: #1493f3;
  width: 0;
}


/* sticky header styles */

.header.is-sticky {
  position: fixed;
  padding: 0;
  animation: slideDown 0.35s ease-out;
  height: 65px;
}

.header.is-sticky .definition {
  padding-top: 0;
  padding-bottom: 0;
}

.header.is-sticky .definition p {
 position: relative;
 top: -5px;
 font-size: 0.8125rem;
}

.header.header.is-sticky .logo {
  padding-left: 72px;
}

.header.header.is-sticky .item {
  top: 16px;
}


.header.header.is-sticky .logo a {
  font-size: 1.125rem;
  padding-top: 6.5px;
  position: relative;
  top: -3px;
}

.header.header.is-sticky .menu li.logo a:focus::after {
  left: -66px;
  height: 45px;
  width: 150px;
}



.header.header.is-sticky .flag {
  width: 58px;
  height: 37px
}

.header.header.is-sticky .panama-star {
  width: 13px;
}

.header.header.header.is-sticky nav {
  height: 58px;
}

.header.header.is-sticky .menu li:not(.logo, .toggle) a {
  font-size: .875rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* mobile menu */

.flag {
  position: absolute;
  width: 79px;
  height: 52px;
  overflow: hidden;
  top: 10px;
  left: 10px;
  border: .15rem solid #1e252c;
  transition: background 0.3s;
}

.panama {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panama > div {
  display: grid;
  place-items: center;
}

.panama-star {
  width: 19px;
  aspect-ratio: 1;
  /* background-color: white; */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.red, .red-field {
  background-color: #a91319;
}

.blue, .blue-field {
  background-color: #011e56;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

/* pseudo-element for logo to focus over flag */
.menu li.logo a:focus::after {
  content: '';
  position: absolute;
  top: 4px;
  left: -84px;
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  height: 60px;
  width: 193px;
}

.sidenav {
  height: auto;
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 92px;
  left: 0;
  background-color:  #132257;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav  li {
  list-style-type: none;
  border-bottom: 1px solid #a1a1a1;
  width: 100%;
  text-align: center;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: .875rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: .03rem;
  display: block;
  width: 100%;
  transition: 0.3s;
  color: #FFFFFF;
}


.sidenav.active {
  display: flex;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}

.menu li.logo a:focus { 
  outline: 5px auto transparent;
}

.menu.active li.toggle a:focus::after, .menu li.toggle a:focus::after {
  content: '';
  position: absolute;
  top: 21px;
  right: 9px;  
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  height: 33px;
  width: 33px;
  z-index: -1;
}

.header.is-sticky .menu li.toggle a:focus::after {
  top: 15px;
}

.header.header.is-sticky .sidenav {
  top: 74px;
}

.header.header.is-sticky .definition {
  border-bottom: 1px solid #a1a1a1;
}

.menu li.toggle a:focus { 
  outline: 5px auto transparent;
}

.fa-times:before {
  position: relative;
  right: 2.3px;
}

.menu li a {
  display: block;
  padding: 5px 5px;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: .0rem;
  transition: 0.3s;
  font-size: 1rem;
}

.menu li.logo a {
  font-weight: 900;
  font-size: 1.5rem;
  position: relative;
  top: -2px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  font-size: 1.25rem;
  margin-right: 0;
  margin-left: auto;
}

.menu .toggle a {
  display: flex;
  font-size: 1.3rem;
  outline: 1px solid red;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
  text-align: center;
  display: none;
}

.line-divider {
  position: relative;
  text-align: center;
  margin: 35px 0 35px;
}

.line-divider.wide:before {
  content: '';
  height: 1px;
  width: 80%;
  left: 10%;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  background-color: #a1a1a1;
}

.diamond-text-box {
  position: relative;
  display: inline-block;
}

.diamond-text-box .left:before, .diamond-text-box .left::after {
  content: " ";
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #888;
  border-width: 17px;
  margin-top: -17px;
  right: 100%;
}

.diamond-text-box .left::after {
  border-right-color: #FFF;
  border-width: 16px;
  margin-top: -16px;
}

.diamond-text-box .right:before, .diamond-text-box .right::after {
  content: " ";
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #888;
  border-width: 17px;
  margin-top: -17px;
  left: 100%;
}

.diamond-text-box .right::after {
  border-left-color: #FFF;
  border-width: 16px;
  margin-top: -16px;
}

.diamond-text-box .content {
  display: inline-block;
  border: 1px solid #b0b0b0;
  border-left: none;
  border-right: none;
  background: #fff;
  color: #888;
  height: 34px;
  line-height: 34px;
  font-weight: 400;
  margin-top: 1px;
  font-size: 1.3125rem;
}

.featured-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px; 
}

.feature-photo-container {
  flex: 1 0 70%;
}

.featured-content-container img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  display: block;
}

.grow .feature-wrapper{
  transition: 1s ease;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  }
  
.grow:hover .feature-wrapper {
  border: 2px solid #1493f3;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
 }


.featured-content-container h3 {
  font-size: 2rem;
}

.featured-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 25px;
  gap: 28px;
  text-align: left;
}

.footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  background-color: #f5f5f5;
}

.footer .icons {
  padding-top: 45px
}

.footer hr {
  color: #a1a1a1;
  width: 80%;
  align-self: center;
}

.icons, .footer .copyright, .footer .credits {
  padding-bottom: 45px;
}

.icons a{
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: black;
}


@media all and (max-width: 336px) {
  .content .mission {
    height: 167px;
    line-height: 18.2px;
  }

  .mission p {
    width: 250px;
    font-size: .813rem;
    padding: 0 12px;
  }
}

@media all and (max-width: 285px) {

  .header, .header.header.is-sticky {
      height: 69px;
    }

  .definition, .header.is-sticky .definition {
      font-size: .72rem;
      position: relative;
      top: -23px;
      background: none;
      padding-right: 25px;
      padding-left: 6px;
      /* border-bottom: 1px solid #a1a1a1; */
  }

  .header.is-sticky .definition {
    padding-top: 18px;
  }

  .toggle, .header.header.is-sticky .toggle {
    margin-top: -9px;
    margin-right: 1px;
  }

  .progress-container, .header.header.is-sticky .progress-container {
    position: relative;
    top: -13px;
    height: 2px;
  }

  .header.is-sticky .definition p, .definition p {
    position: relative;
    top: -3px;
    white-space: nowrap;
}

.definition p {
  top: 5px;
}

  .header.header.is-sticky .progress-container {
    top: -23px;
  }

  .progress-bar, .header.header.is-sticky .progress-bar {
    height: 2px;
  }

  .flag, .header.header.is-sticky .flag {
    width: 50px;
    height: 36px;
    left: 6px;
  }

  .panama-star, .header.header.is-sticky .panama-star {
    width: 13px;
  }

  .logo, .header.header.is-sticky .logo {
    /* font-size: 1rem; */
    padding-left: 56px;
  }

 .menu li.logo a,  .header.header.is-sticky .logo  a {
    font-size: 1rem;
  }

  .menu li.toggle a:focus::after {
    top: 6px;
    right: 12px;
    height: 31px;
    width: 30px;
  }

  .header.is-sticky .menu li.toggle a:focus::after {
    top: 7px;
    right: 12px;
  }

  .content {
    margin-top: 177px;
  }

.sidenav.active {
  top: 75px;
  width: 115px;
}

.header.header.is-sticky .sidenav {
  top: 69px;
}

.diamond-text-box .content {
  font-size: .75rem;
  white-space: nowrap;
}

}

@media all and (max-width: 257px) {
    .menu.active + .menuBg {
      top: 85px;
    }

    .header.header.is-sticky .menu.active + .menuBg {
      top: 84px;
    }

    .definition span {
      white-space: nowrap;
    }

    /* .header.is-sticky .menu li.toggle a:focus::after {
      right: 11px;
      width: 31px;
      top: 8px;
  } */

  .menu li.toggle a:focus::after,  .header.is-sticky .menu li.toggle a:focus::after  {
    top: 8px;
    right: 11px;
    height: 29px;
    width: 31px;
  }

    .menu.active li.toggle a:focus::after {
     top: 17px;
     right: 2px;
  }

}

@media all and (max-width: 195px) {

  .definition {
    display: none;
  }

  .toggle-anchor {
    position: relative;
    top: -55px;
    right: 3px;
  }


  .header.is-sticky .menu li.toggle a:focus::after, .menu li.toggle a:focus::after {
    top: 11px;
    right: 14px;
 }

 .menu .toggle a {
  position: relative;
  top: 3px;
  height: 27px;
 }

 .menu li.toggle a:focus::after {
  top: 8px;
 }

 .content {
  margin-top: 187px;
 }

 .sidenav.active {
  top: 86px;
 }
 
 .progress-container {
  top: 0px;
 }

 .header.header.is-sticky .progress-container {
  top: 11px;
}

.header {
  height: 85px;
}

}

@media all and (max-width: 190px) {
  .header.header.is-sticky .menu .toggle a {
    top: -10px;
  }
}

/* Tablet menu */
@media all and (min-width: 700px) {

    .menu {
        justify-content: center;
    }
    .logo {
        margin-right: auto;
    }
    .mission p {
      width: 488px;
      font-size: 1rem;
    }

}

/* Desktop menu */
@media all and (min-width: 960px) {

  .grow .feature-wrapper {
    flex-direction: row;
  }

  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
 
  .item {
    position: relative;
    display: block;
    width: auto;
    top: 27px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
  }

  
  /* .item:not(.button) a:hover,
  .item a:hover::after {
      border-bottom: 2px solid #1493f3;
  } */

  .item:after {
        content:'';
        position: absolute;
        width: 78%;
        height: 3px;
        bottom: 9px;
        left: 12px;
        background-color: #1493f3;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s;
    }

    .item:hover:after {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    



  .active .item {
    border-bottom: none;
  }

  .menu.active .item a {
    text-transform: uppercase;
    font-size: 1rem;
  }

  .menu.active + .menuBg {
    display: none;
  }
  
  .toggle {
    display: none;
  }

  .sidenav {
    display: none;
  }

}
























